# Clasp configuration files
.clasp.json

# Dependencies
.env
/node_modules
__pycache__/

# Build artifacts and temporary files
/dist
/build
*.swp

# Environment-specific or IDE files
.vscode
.idea
*.log
.DS_Store
